<!DOCTYPE html>
<div class="sidebar-header">
	<a href=""> <span class="arrow">← </span>
	</a> <span class="sidebar-title">Store</span>
</div>
<ul class="categories">
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="식물 카테고리" />
	</a></li>
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="화분 카테고리" />
	</a></li>
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="화분 카테고리" />
	</a></li>
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="화분 카테고리" />
	</a></li>
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="화분 카테고리" />
	</a></li>
	<li><a href="#"> <img
			src="/MalantStore/resources/images/메뉴이미지.jpg" alt="화분 카테고리" />
	</a></li>
</ul>
<!-- 로그인 영역 -->
<div class="login-section">
	<hr solid color="#ddd" />
	<h4>로그인</h4>
	<input type="text" placeholder="아이디" /> <input type="password"
		placeholder="비밀번호" />
	<button class="login-button">로그인</button>
</div>
<!-- 회원가입/아이디/비밀번호 찾기 영역 -->
<div class="account-section">
	<a href="#" class="account-link">회원가입</a><br /> <a href="#"
		class="account-link">아이디 찾기</a><br /> <a href="#"
		class="account-link">비밀번호 찾기</a><br />
</div>
