<!DOCTYPE html>
<!-- test -->
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malant Store</title>
    <link
      rel="stylesheet"
      href="/MalantStore/resources/css/store_main_nonLogin.css"
    />
    <link rel="stylesheet" href="/MalantStore/resources/css/scrolling.css" />
    <script src="/MalantStore/resources/js/jquery-3.7.0.min.js"></script>
    <script src="/MalantStore/resources/js/scroll_behavior.js"></script>
    <script src="/MalantStore/resources/js/scroll_loading.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="sidebar-header">
          <a href="">
            <span class="arrow">← </span>
          </a>
          <span class="sidebar-title">Store</span>
        </div>
        <ul class="categories">
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="식물 카테고리"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="화분 카테고리"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="화분 카테고리"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="화분 카테고리"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="화분 카테고리"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="/MalantStore/resources/images/메뉴이미지.jpg"
                alt="화분 카테고리"
              />
            </a>
          </li>
        </ul>
        <!-- 로그인 영역 -->
        <div class="login-section">
          <hr solid color="#ddd" />
          <h4>로그인</h4>
          <input type="text" placeholder="아이디" />
          <input type="password" placeholder="비밀번호" />
          <button class="login-button">로그인</button>
        </div>
        <!-- 회원가입/아이디/비밀번호 찾기 영역 -->
        <div class="account-section">
          <a href="#" class="account-link">회원가입</a><br />
          <a href="#" class="account-link">아이디 찾기</a><br />
          <a href="#" class="account-link">비밀번호 찾기</a><br />
        </div>
      </div>

      <div class="main-content">
        <div class="banner">
          <div class="banner-controls">
            <span class="banner-control prev">&lt;</span>
            <span class="banner-control next">&gt;</span>
          </div>
          <div class="indicator-container"></div>
          <img alt="배너 이미지" class="banner-image" />
        </div>
        <div class="best-sellers">
          <h2 class="best-title">전체상품</h2>
          <div class="product-divider"></div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
          <div class="product">
            <img
              src="/MalantStore/resources/images/상품이미지.jpg"
              alt="상품 1"
            />
            <h3>상품 제목 1</h3>
            <p>상품 설명이라는 것은 상품 설명이라는 것...</p>
            <span class="price">50,000원</span><br />
            <button class="add-to-cart">장바구니</button>
            <button class="buy-now">구매하기</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/MalantStore/resources/js/banner_scroll.js"></script>
  </body>
</html>
