<!DOCTYPE html>
<div class="best-sellers">
	<h2 class="best-title">전체상품</h2>
	<div class="product-divider"></div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
	<div class="product">
		<img src="/MalantStore/resources/images/상품이미지.jpg" alt="상품 1" />
		<h3>상품 제목 1</h3>
		<p>상품 설명이라는 것은 상품 설명이라는 것...</p>
		<span class="price">50,000원</span><br />
		<button class="add-to-cart">장바구니</button>
		<button class="buy-now">구매하기</button>
	</div>
</div>