/* resources/css/store_main_nonLogin.css */

/* 기본값 초기화 */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* 전체 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0; /* body 요소의 기본 margin을 제거 */
  padding: 0; /* body 요소의 기본 padding을 제거 */
}

.container {
  display: flex;
  padding: 20px;
}

/* 사이드바 */
.sidebar {
  width: 260px;
  background-color: #f2f2f2;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
/*화살표 속성*/
.arrow {
  font-size: 18px;
  color: #3498db;
  cursor: pointer;
  text-decoration: none; /* 밑줄 없애기 */
}

.arrow:hover {
  text-decoration: none; /* 화살표에 마우스 호버 시 밑줄 표시 없애기 */
}
/*사이드바 타이틀*/
.sidebar-title {
  font-size: 24px;
  margin-left: 10px;
  text-decoration: none;
}

.categories {
  list-style: none;
  margin-top: 20px;
}

.categories li {
  margin-bottom: 10px;
}

.categories a img {
  max-width: 100px;
}

/*로그인 영역*/
.login-section {
  padding-top: 100px;
  text-align: center;
}

.login-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.login-section input {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
}

.login-button {
  margin-bottom: 10px;
}

/* 회원가입/아이디/비밀번호 찾기 영역*/
.account-section {
  margin-top: auto;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.account-link {
  display: inline-block;
  text-decoration: none;
  color: #3498db;
  margin: 0 10px;
  font-size: 12px;
  transition: color 0.3s;
}

.account-link:hover {
  color: #1e87db;
}

/* 메인 컨텐츠 */
.main-content {
  padding: 20px;
  flex-grow: 1;
  max-width: calc(100% - 260px);
}

.banner {
  position: relative;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 50px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 꽉 차도록 조절 */
}

.banner-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.banner-control {
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}

.indicator-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  opacity: 0.5;
  cursor: pointer;
}

.best-sellers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.best-title {
  text-align: left;
  font-size: 24px;
  position: absolute; /* best-title을 절대 위치로 설정 */
}

.product-divider {
  border-bottom: 1px solid #ddd;
  grid-column: 1 / -1; /* 그리드의 모든 열을 차지하도록 설정 */
  margin-top: 50px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.price {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  color: #e74c3c;
  font-size: 18px; /* 가격 폰트 크기 조절 */
}

.add-to-cart,
.buy-now {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px; /* 버튼 폰트 크기 조절 */
}

/* Media Queries for Responsiveness */
@media (max-width: 960px) {
  .container {
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-content {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
  }

  .sidebar-header {
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 10px;
  }

  .sidebar-title {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .categories {
    display: flex;
    justify-content: space-around; /* 아이템들 간의 공간을 균등하게 배치 */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .categories li {
    margin-bottom: 0; /* 아이템 간격 조절 */
  }

  .categories a img {
    max-width: 80px; /* 카테고리 이미지 크기 조절 */
  }

  .best-sellers {
    grid-template-columns: repeat(4, 1fr);
  }

  .product {
    max-width: calc(100%);
    margin: 0; /* 상품간의 여백 제거 */
  }

  .account-section {
    text-align: center; /* 가로 정렬을 위한 가운데 정렬 설정 */
    margin-top: 10px;
    padding-top: 10px;
  }

  .account-link {
    font-size: 14px;
    margin: 0;
    padding: 5px; /* 패딩 추가해서 크기를 늘립니다 */
    display: block; /* 블록 요소로 변경하여 세로로 나열 */
    width: 100%;
    box-sizing: border-box; /* 패딩과 너비의 영향을 포함하여 크기 조절 */
  }

  .login-section {
    text-align: center; /* 가로 정렬을 위한 가운데 정렬 설정 */
    margin-top: 10px;
    padding-top: 10px;
  }

  .login-section h4 {
    font-size: 18px; /* 모바일 화면에 맞게 조정 */
    margin-bottom: 5px;
  }

  .login-section input {
    width: 50%; /* 너비 100%로 변경 */
    padding: 8px; /* 패딩 적당히 조정 */
    margin-bottom: 8px; /* 간격을 조정하여 조밀하게 나오도록 조정 */
  }

  .login-button {
    display: block; /* 블록 요소로 변경하여 다음 줄에 위치하도록 함 */
    margin: 8px auto; /* 가운데 정렬을 위한 마진 설정 */
    padding: 8px 20px; /* 버튼의 패딩을 조정하여 크기 조절 */
    font-size: 14px;
  }
}
