@charset "UTF-8";



/* 사이드바 스타일 */
.sidebar {
	position: fixed;
	z-index: 1; /* 레이어 순서 설정 */
}

/* 메인 컨텐츠 스타일 */
.main-content {
	margin-left: 200px; /* 사이드바의 너비만큼 여백 확보 */
	z-index: 0; /* 레이어 순서 설정 */
}

.board-main {
	display: flex;
}

.board-like {
	display: flex;
	margin-top: 50px;
	width: 100%;
	justify-content: center; /* 가운데 정렬 */

}

.board-like a {
	margin-right: 50px; /* 이미지 간격 설정 */
}

.image-style {
	width: 250px;
	height: 200px;
}

.board-main {
	display: flex;
}

.board-like {
	display: flex;
	margin-top: 50px;
	width: 100%;
	justify-content: center;
	margin-left: 100px;
}

.board-like a {
	margin-right: 50px;
}



.title-style {
	border: 1px solid green;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 50px;
}

.likeBtn-style {
	display: inline-block;
	padding: 5px 10px; /* 작은 버튼의 패딩을 조절 */
	background-color: red;
	color: red;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 30px;
	height: 30px;
}

