@charset "UTF-8";

/* 기본값 초기화 */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

/* 전체 스타일 */
body {
	font-family: "NanumGothicEB";
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	padding: 0;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
}

.content {
	padding-left: 20px;
	padding-top: 20px;
	flex-grow: 1;
	max-width: calc(100% - 260px);
	flex: 1;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
